<launch>

    <arg name="resultPath" default="$(find sdv_loam)/output/kitti-360/pred_multi_09.txt" />

    <!--- sdv_loam -->    
    <node pkg="sdv_loam"    type="sdv_loam"    name="sdv_loam"    output="screen"/>

    <!--- Parameter List -->  
    <rosparam param="imgTopics">
    - /image_left
    - /image_right
    </rosparam>
    <param name="lidarTopic" type="string" value="/kitti/velo/pointcloud" />
    <rosparam param="calib" subst_value="true">
    - $(find sdv_loam)/calib/KITTI/09.txt
    - $(find sdv_loam)/calib/KITTI/09.txt
    </rosparam>
    <rosparam param="pathSensorPrameters" subst_value="true">
    - $(find sdv_loam)/sensor/09.txt
    - $(find sdv_loam)/sensor/09_cam1.txt
    </rosparam>
    <param name="resultPath" type="string" value="$(arg resultPath)" />
    <param name="trackingCameraId" type="int" value="-1" />
    <param name="maxCameraLidarSyncError" type="double" value="0.03" />
    <param name="maxCoarseTrackingRMSE" type="double" value="12.0" />
    <param name="minCameraImageStddev" type="double" value="3.0" />
    <param name="minCameraImageGradientMean" type="double" value="1.0" />
    <param name="minCameraImageLaplacianVariance" type="double" value="20.0" />
    <param name="cameraSwitchScoreMargin" type="double" value="1000.0" />
    <param name="cameraSwitchConsecutiveFrames" type="int" value="3" />
    <param name="fallbackCameraQuarantineMinDuration" type="double" value="1.0" />
    <param name="fallbackCameraRecoveryStableFrames" type="int" value="12" />
    <param name="minFallbackWarmupFrames" type="int" value="4" />
    <param name="minFallbackKeyframes" type="int" value="1" />
    <param name="officialCameraMissingSwitchDelay" type="double" value="0.20" />
    <rosparam param="cameraTimeOffsets">
    - 0.0
    - 0.0
    </rosparam>
    <param name="mode" type="int" value="1" />
    <param name="quiet" type="int" value="1" />

</launch>
